<template>
  <div class="m-2 text-white sm:w-4/6">
    <table class="p-4 w-full bg-gray-800 text-gray-200 shadow-lg">
      <tr class="text-left border-b border-gray-300">
        <th v-for="(col, index) in columns" :key="index" class="px-4 py-3">
          {{ col }}
        </th>
      </tr>
      <tr
        v-for="item in formatData"
        :key="item[0]"
        class="bg-gray-700 border-b border-gray-600"
      >
        <td v-for="(elt, i) in item" :key="i" class="px-4 py-3">
          {{ elt }}
        </td>
      </tr>
    </table>
    <div class="flex justify-end p-4">
      <p
        v-for="page in pages"
        :key="page"
        class="p-4"
        @click="changePage(page)"
      >
        <span
          :class="{ ['bg-blue-500']: currentPage === page }"
          class="cursor-pointer text-white m-1 hover:bg-blue-500 hover:border-transparent hover:shadow-lg group rounded-lg p-2 border border-gray-200"
          >{{ page + 1 }}</span
        >
      </p>
    </div>
  </div>
</template>

<script>
const currentPage = 0
export default {
  props: {
    columns: {
      type: Array,
      default() {
        return []
      },
    },
    data: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    return {
      currentPage,
    }
  },
  computed: {
    formatData() {
      const data = [...this.data]
      return data.splice(this.currentPage * 10, 10)
    },
    pages() {
      return [...Array(Math.round(this.data.length / 10)).keys()]
    },
  },
  methods: {
    changePage(page) {
      this.currentPage = page
    },
  },
}
</script>
