<template>
  <main class="dark:bg-gray-800 h-full">
    <h1 class="p-4 text-2xl font-normal leading-normal mt-0 mb-2 text-blue-500">
      Page des Statistiques :
    </h1>
    <div class="grid grid-cols-5 md:grid-cols-12">
      <div v-for="year in years" :key="year" class="stats-years">
        <label class="inline-flex items-center mt-3">
          <input
            type="checkbox"
            class="form-checkbox h-5 w-5 text-blue-500 ml-4"
            checked
            @change="checkYear(year)"
          /><span class="ml-2 text-white">{{ year }}</span>
        </label>
      </div>
    </div>
    <div class="flex flex-col sm:flex-row w-full">
      <datatable :columns="columns" :data="apiData.stats"></datatable>
      <datatable :columns="columnsLuck" :data="apiData.stars"></datatable>
    </div>
    <div class="flex items-center">
      <h2
        class="p-4 text-2xl font-normal leading-normal mt-0 mb-2 text-blue-500"
      >
        Générer des numéros :
      </h2>
    </div>
    <div class="flex flex-col sm:flex-row sm:items-center">
      <div class="mb-4 p-4">
        <label class="block text-white text-sm font-bold mb-2" for="name">
          Max top classique :
        </label>
        <input
          id="nbMainNumber"
          v-model="nbMainNumber"
          class="dark:bg-gray-800 shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
          name="nbMainNumber"
          type="number"
          placeholder="15"
          required
        />
      </div>

      <div class="mb-4 p-4">
        <label class="block text-white text-sm font-bold mb-2" for="name">
          Max top chance :
        </label>
        <input
          id="nbLuck"
          v-model="nbLuck"
          class="dark:bg-gray-800 shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
          name="nbLuck"
          type="number"
          placeholder="3"
          required
        />
      </div>
      <button
        class="m-4 sm:w-24 h-12 flex-shrink-0 bg-green-600 text-white text-base font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200"
        @click="generateNew()"
      >
        Générer
      </button>
    </div>
    <div class="pb-16 flex flex-row items-center p-2">
      <div
        v-for="number in numbersToPlay"
        :key="number"
        class="m-2 text-white hover:bg-blue-700 hover:border-transparent hover:shadow-lg group rounded-lg p-2 border border-gray-200"
      >
        {{ number }}
      </div>
      <div
        v-if="starToPlay"
        class="text-white m-2 bg-red-500 hover:bg-red-700 hover:border-transparent hover:shadow-lg group rounded-lg p-2 border border-gray-200"
      >
        {{ starToPlay }}
      </div>
    </div>
  </main>
</template>

<script>
import axios from 'axios'
import datatable from '../components/datatable.vue'
import { getRandomElementsFromArray } from '../services/lotoUtils'
const columns = ['Numéro', 'Nombre de fois']
const columnsLuck = ['Numéro Chance', 'Nombre de fois']
const firstNumbers = []
const firstStars = []
const numbersToPlay = []
const starToPlay = null
let apiData = []
const nbLuck = 3
const nbMainNumber = 15
let yearsSelected = []
let years = []
export default {
  components: { datatable },
  async asyncData() {
    const res = await axios.get(`https://dimitri-berger.fr:1998/loto`)
    apiData = res.data
    years = apiData.years
    yearsSelected = [...apiData.years]
    return { apiData, yearsSelected, years }
  },
  data() {
    return {
      columns,
      columnsLuck,
      firstNumbers,
      firstStars,
      numbersToPlay,
      starToPlay,
      apiData,
      nbLuck,
      nbMainNumber,
      yearsSelected,
    }
  },
  methods: {
    async update() {
      const params = btoa(this.yearsSelected.join(','))
      const res = await axios.get(
        `https://dimitri-berger.fr:1998/loto?years=${params}`
      )
      this.apiData = res.data
    },
    checkYear(year) {
      const index = this.yearsSelected.indexOf(year)
      if (index !== -1) {
        this.yearsSelected.splice(index, 1)
      } else {
        this.yearsSelected.push(year)
      }
      this.update()
    },
    generateNew() {
      if (this.nbMainNumber >= 5 && this.nbLuck >= 1) {
        this.firstNumbers = [...this.apiData.stats]
          .splice(0, this.nbMainNumber)
          .map((item) => item[0])
        this.firstStars = [...this.apiData.stars]
          .splice(0, this.nbLuck)
          .map((item) => item[0])
        this.numbersToPlay = getRandomElementsFromArray(
          this.firstNumbers,
          5
        ).sort((a, b) => a - b)
        this.starToPlay = getRandomElementsFromArray(
          this.firstStars,
          1,
          this.numbersToPlay
        )[0]
      }
    },
  },
}
</script>
